:root {
    --header-background-color: rgb(60, 70, 104);
    --header-color: rgb(239, 248, 250);
    --nav-color: rgb(247, 241, 241); 
    --nav-highlight: rgb(202, 212, 243);
    font-size: 16px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* css meyer reset */

html, body, div
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

:focus {
	outline: 0;
}

body {
	line-height: 1;
	color: black;
	background: white;
}

/* Header */

header {
    padding: 20px 40px;
    background-color: var(--header-background-color);
    color: var(--header-color);
}

header h1 {
    font-weight: 900;
    font-size: 3rem;
}

button {
    cursor: pointer;
    border: none;
}

.content {
    display: grid;
    gap: 2em;
    grid-template-columns: 1.2fr 4fr;
}

/* nav bar */

.nav {
    background-color: var(--nav-color);
    display: flex;
    height: 87vh;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 30px 0px 40px;
    gap: 0.2em;
}

.nav-options,
.nav #projects {
    cursor: pointer;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 8px;
    width: 100%;
    font-size: 1.8em;
    font-weight: 700;
}

.nav-options:hover,
.project-item:hover {
    background-color: var(--nav-highlight);
}

.nav-selected {
    background-color: var(--nav-highlight);
}

.nav .project-delete {
    background-color: var(--nav-color);
}

.nav .project-delete img {
    width: 1.5em;
}

.nav-selected .project-delete,
.project-item:hover .project-delete {
    background-color: var(--nav-highlight);
}

.project-container {
    width: 100%;
}

.project-list-container {
    margin-left: 10px;
    margin-bottom: 15px;
}

.project-item {
    cursor: pointer;
    margin-left: 8px;
    margin-bottom: 4px;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-item h2 {
    font-size: 1.6rem;
    font-weight: 800;
}

/* Task List Container */

#task-list-container {
    padding: 20px;
}

.title-container {
    display: flex;
    gap: 1em;
}

.todo-container {
    margin: 15px 0px;
}

.left,
.right {
    display: flex;
    gap: 3em;
    align-items: center;
}

.task {
    display: flex;
    gap: 2em;
    font-size: 1.2em;
    justify-content: space-between;
    padding: 5px 180px 5px 0px;
}

.task.done p {
    text-decoration: line-through;
}

.task.done {
    color: #9b9898;
}

/* task done checkbox */

input[type="checkbox"] {
    cursor: pointer;
    accent-color: #ddd; 
    width: 1.15em;
    height: 1.15em;
    /* -webkit-appearance: none;
    appearance: none;
    width: 1.45em;
    height: 1.45em;
    border: 0.15em solid black;
    border-radius: 0.15em;
    display: flex;
    justify-content: center;
    align-items: center; */
}

/* input[type="checkbox"]:checked::before {
    content: "\002714";
    padding: 0.2em;
} */

#edit,
.task-delete {
    padding: 2px;
    background-color: #fff;
}

.task-delete img {
    width: 1.4em;
}

#edit:hover,
.task-delete:hover {
    background-color: #ddd;
    border-radius: 5px;
}

#details {
    padding: 4px 8px;
    font-size: 0.8em;
    font-weight: 700;
    border-radius: 3px;
    background-color: var(--nav-highlight);
}

.task.done #details,
#details:hover {
    background-color: rgb(201, 209, 238);
    color: #636161;
}

#add-task-button {
    display: flex;
    justify-content: flex-end;
    padding: 5px 180px 5px 0px;
}

.add-task {
    margin-top: 20px;
    padding: 2px 22px;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 700;
}

.add-task:hover {
    background-color: #ddd;
}

/* project pop-up form */

.add-project-input {
    display: none;
    margin-bottom: 10px;
}

.add-project-button {
    background-color: rgb(148, 233, 148);
}

.cancel-project {
    background-color: rgb(218, 119, 119);
}

.add-project-input.active {
    display: block;
}

#project-name {
    font-size: 1.2em;
    padding: 2px 8px;
    margin-bottom: 0.5em;
}

.button-container {
    display: flex;
    gap: 1em;
}

.button-container button {
    width: 48%;
    border-radius: 5px;
    padding: 6px 10px;
    font-weight: 800;
    font-size: 1em;
}

.add-project {
    padding: 2px 20px;
    font-size: 2.5rem;
    font-weight: 900;
    background-color: var(--nav-color);
    border-radius: 5px;
}

.add-project:hover {
    background-color: var(--nav-highlight);
}

/* pop-up forms */

.description-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: min(50%, 400px);
    display: flex;
    flex-direction: column;
    font-weight: 700;
    gap: 0.8em;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
}

.form-container,
.edit-task-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    gap: 1em;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.edit-task-form button,
.form-container button {
    padding: 14px 24px;
    width: 90%;
    font-size: 1.1em;
    font-weight: 700;
    border-radius: 10px;
    background-color: var(--nav-highlight);
}

#add:hover,
#save-changes:hover {
    background-color: rgb(145, 182, 185);
    color: #000;
}

.edit-task-form input,
.edit-task-form textarea,
.form-container input,
.form-container textarea {
    font-size: 1em;
    padding: 4px 6px;
    border-radius: 5px;
    background-color: #f0f5f4;
}

.form-container.active,
.edit-task-form.active,
.description-container.active {
    transform: translate(-50%, -50%) scale(1);
}

.overlay {
    position: fixed;
    transition: 200ms ease-in-out;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}