* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}

.add-task {
    font-size: 2.5rem;
    font-weight: 500;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
    gap: 1em;
}

.content {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.nav > button {
    border: none;
    background: #fff;
    font-size: 1.6rem;
}

.add-project-input {
    display: none;
}

.add-project-input.active {
    display: block;
}

.title-container {
    display: flex;
    gap: 1em;
}

.task {
    display: flex;
    gap: 2em;
    justify-content: space-between;
    padding: 5px 180px 5px 0px;
}

.task.done p {
    text-decoration: line-through;
}

.task.done {
    color: #9b9898
}

input[type="checkbox"] {
    cursor: pointer;
    accent-color: #ddd;
    width: 1.15em;
    height: 1.15em;
    /* -webkit-appearance: none;
    appearance: none;
    width: 1.45em;
    height: 1.45em;
    border: 0.15em solid black;
    border-radius: 0.15em;
    display: flex;
    justify-content: center;
    align-items: center; */
}

/* input[type="checkbox"]:checked::before {
    content: "\002714";
    padding: 0.2em;
} */

.left,
.right,
.project-item {
    display: flex;
    gap: 3em;
    align-items: center;
}

.form-container,
.edit-task-form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.form-container.active,
.edit-task-form.active{
    transform: translate(-50%, -50%) scale(1);
}

.overlay {
    position: fixed;
    transition: 200ms ease-in-out;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}