* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}

.add-task {
    font-size: 2.5rem;
    font-weight: 500;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
    gap: 1em;
}

button {
    border: none;
    background: #fff;
    font-size: 1.6rem;
}